<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>header}}
    <div class="main-content">
        <h1>About</h1>
        <p>This site was created by Philip Clement. <br> It provides real time location-based weather to users using Node.js servers hosted on Heroku, <br>and uses data from Mapbox.com and Darksky.net</p>
        <br>
        <p>To make weather more fun, Clement Weather shows a variety of different art styles to bring the weather of the searched area to life!</p>
        <img class="portrait" src="/img/robot.png">
    </div>
    
    {{>footer}}
</body>

</html>