/* 034f84 */
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
body {
    color: #333333;
    font-family: arial;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 97vh;
    font-family: "ubuntu";
}

strong{
    font-size: 50px;
}
.main-content {
    padding-top:15vh;
    flex-grow: 1;
    text-align: center;
    padding-bottom: 50vh;
    transform: scaleX(1);
}

.main-content p{
    font-size: 30px;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 0px;
    margin-bottom: 30px;
}

header {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    width: 100%;
    background-color: #47b1fa;
    color: white;
}

header h1 {
    float: left;
    margin-top: 25px;
}

.links {
    margin-left:35%;
    color: white;
}

header a {
    float:right;
    margin-top: 75px;
    font-family: "ubuntu";
}
h1 {
    text-align: center;
    font-size: 64px;
    margin-bottom: 16px;
    font-family: "ubuntu";
}

header a {
    text-align: center;
    color: white;
    margin-right: 40px;
    text-decoration: none;
    font-family: "ubuntu";
}

.portrait {
    width: 250px;
}

input{
    border: 1px solid #cccccc;
    padding: 8px;
}

form {
    padding-bottom: 25px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}

.today-table {
    text-align: center;
    display: inline-block;
    width: 80%;
    padding-left:10%;
    padding-right:10%;
    background-color: #47b1fa;
    color: white;
}

.today-table p {
    text-align: center;
    margin-right: 20px;
    display: inline-block;
    color:white;
    background-color: #0896f8;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    width: 250px;
    height: auto;
    font-family: "ubuntu";



